In [14]:
## 1. Write a Python Program to Find the Factorial of a Number?

def fact(n):
    try:
        if n<0:
            return "Enter number greater than or equal to 0"
        elif n==0:
            return 1
        else:
            return n*fact(n-1)
    except TypeError:
        return "Please enter only numbers"
    except exception as e:
        return e

In [15]:
fact(16)

20922789888000

In [25]:
def mul_table(n,m=10):
    """
    this function returns the multiplication table from 1 to m for entered number n
    m=10 by default
    """
    try:
        for i in range(1,m+1):
            print("{0} * {1} = {2}".format(n,i,n*i))
    except TypeError:
        return "Please enter only numbers"
    except exception as e:
        return e

In [26]:
mul_table(2,12)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24

In [39]:
## 3. Write a Python Program to Print the Fibonacci sequence?

def fibon(n):
    try:
        a=[0,1]
        if n<=0:
            return "enter numbers geater than 0"
        elif n==1:
            return 0
        
        elif n==2:
            return a
        else:
            for i in range(2,n):
                b= a[i-1]+a[i-2]
                a.append(b)
            return a
    except TypeError:
        return "Please enter only numbers"
    except exception as e:
        return e

In [43]:
fibon(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [46]:
## 4. Write a Python Program to Check Armstrong Number?
def chk_armstrong(n):
    try:
        a=str(n)
        b=len(a)
        c=int(a[0])**b
        for i in range(1,b):
            c+=int(a[i])**b

        if c==n:
            return "Entered number is an Armstrong number"
        else:
            return "Entered number is not an Armstrong number"
    except TypeError:
        return "Please enter only numbers"
    except exception as e:
        return e

In [56]:
chk_armstrong(1634)

'Entered number is an Armstrong number'

In [57]:
## 5. Write a Python Program to Find Armstrong Number in an Interval?
def armstrong(x,y):
    try:
        am=[]
        for n in range(x,y+1):
            a=str(n)
            b=len(a)
            c=int(a[0])**b
            for i in range(1,b):
                c+=int(a[i])**b

            if c==n:
                am.append(n)
            else:
                continue
        return am
    except TypeError:
        return "Please enter only numbers"
    except exception as e:
        return e

In [59]:
armstrong(0,400)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371]

In [65]:
## 6. Write a Python Program to Find the Sum of Natural Numbers?
def nat_num_sum(n):
    try:
        sum=(n*(n+1))/2
        return sum
            
    except TypeError:
        return "Please enter only numbers"
    except exception as e:
        return e

In [75]:
nat_num_sum(10)

55.0