Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True

In [1]:
def is_symmetrical(n):
    s1=str(n)
    s2=s1[::-1]
    if s1==s2:
        return True
    else:
        return False

In [2]:
is_symmetrical(7227)

True

In [3]:
is_symmetrical(12567)

False

In [4]:
is_symmetrical(44444444)

True

In [5]:
is_symmetrical(9939)

False

In [6]:
is_symmetrical(1112111)

True

Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.
Examples
multiply_nums("2, 3") ➞ 6
multiply_nums("1, 2, 3, 4") ➞ 24
multiply_nums("54, 75, 453, 0") ➞ 0
multiply_nums("10, -2") ➞ -20

In [9]:
def multiply_nums(lst):
    lst=lst.split(",")
    mul=1
    for i in lst:
        mul*=int(i)
    return mul

In [10]:
multiply_nums("2, 3")

6

In [11]:
multiply_nums("1, 2, 3, 4")

24

In [12]:
multiply_nums("54, 75, 453, 0")

0

In [13]:
multiply_nums("10, -2")

-20

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [19]:
def square_digits(n):
    s1=str(n)
    s2=''
    for i in s1:
        s2+=(str((int(i)**2)))
    return int(s2)

In [20]:
square_digits(9119)

811181

In [21]:
square_digits(2483)

416649

In [22]:
square_digits(3212)

9414

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [23]:
def setify(lst):
    lst=list(set(lst))
    lst.sort()
    return lst

In [24]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [25]:
setify([4, 4, 4, 4])

[4]

In [26]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [27]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6
Notes
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).
 The mean will always be an integer.

In [31]:
def mean(n):
    s1=str(n)
    sum=0
    for i in s1:
        sum+=int(i)
    mean=sum/len(s1)
    return int(mean)

In [32]:
mean(42)

3

In [33]:
mean(12345)

3

In [34]:
mean(666)

6