1. Write a function that returns True if a given name can generate an array of
words.
Examples
anagram("Justin Bieber", ["injures", "ebb", "it"]) ➞ True
anagram("Natalie Portman", ["ornamental", "pita"]) ➞ True
anagram("Chris Pratt", ["chirps", "rat"]) ➞ False
# Not all letters are used
anagram("Jeff Goldblum", ["jog", "meld", "bluffs"]) ➞ False
# "s" does not exist in the original name

In [28]:
def anagram(name,lst):
    sum=0
    name=name.replace(" ","")
    for i in lst:
        sum+=len(i)
        for j in i:
            if j.lower() not in name.lower():
                return False
    if len(name)!=sum:
        return False
    return True

In [29]:
anagram("Justin Bieber", ["injures", "ebb", "it"])

True

In [30]:
anagram("Natalie Portman", ["ornamental", "pita"])

True

In [31]:
anagram("Chris Pratt", ["chirps", "rat"])

False

In [32]:
anagram("Jeff Goldblum", ["jog", "meld", "bluffs"])

False

2. Given an array of users, each defined by an object with the following
properties: name, score, reputation create a function that sorts the array to
form the correct leaderboard.
The leaderboard takes into consideration the score of each user of course,
but an emphasis is put on their reputation in the community, so to get the
trueScore, you should add the reputation multiplied by 2 to the score.
Once you know the trueScore of each user, sort the array according to it in
descending order.
Examples
leaderboards([
{ "name": "a", "score": 100, "reputation": 20 },
{ "name": "b", "score": 90, "reputation": 40 },
{ "name": "c", "score": 115, "reputation": 30 },
]) ➞ [
{ "name": "c", "score": 115, "reputation": 30 }, # trueScore = 175
{ "name": "b", "score": 90, "reputation": 40 }, # trueScore = 170
{ "name": "a", "score": 100, "reputation": 20 } # trueScore = 140
]

In [43]:
def leaderboards(lst):
    lst2=lst.copy()
    max=lst[0]['score']+2*(lst[0]['reputation'])
    for j in range(len(lst)-1):
        for i in range(len(lst)-j-1):
            if lst[i]['score']+2*(lst[i]['reputation'])<lst[i+1]['score']+2*(lst[i+1]['reputation']):
                c=lst[i]
                lst[i]=lst[i+1]
                lst[i+1]=c
        
    return lst

In [44]:
leaderboards([
{ "name": "a", "score": 100, "reputation": 20 },
{ "name": "b", "score": 90, "reputation": 40 },
{ "name": "c", "score": 115, "reputation": 30 },
])

[{'name': 'c', 'score': 115, 'reputation': 30},
 {'name': 'b', 'score': 90, 'reputation': 40},
 {'name': 'a', 'score': 100, 'reputation': 20}]

3. Create a function that, given a phrase and a number of letters guessed,
returns a string with hyphens - for every letter of the phrase not guessed, and
each letter guessed in place.
Examples
hangman("helicopter", ["o", "e", "s"]) ➞ "-e---o--e-"

hangman("tree", ["r", "t", "e"]) ➞ "tree"
hangman("Python rules", ["a", "n", "p", "r", "z"]) ➞ "P----n r----"
hangman("He"s a very naughty boy!", ["e", "a", "y"]) ➞ "-e"- a -e-y -a----y –y!"

In [55]:
def hangman(name,lst):
    new=[]
    for i in name:
        if i.lower() in lst or i==' ' or i=="'":
            new.append(i)
        else:
            new.append('-')
    return "".join(new)

In [56]:
hangman("helicopter", ["o", "e", "s"])

'-e---o--e-'

In [57]:
hangman("tree", ["r", "t", "e"])

'tree'

In [58]:
hangman("Python rules", ["a", "n", "p", "r", "z"])

'P----n r----'

In [59]:
hangman("He's a very naughty boy!", ["e", "a", "y"])

"-e'- a -e-y -a----y --y-"

4. The Collatz sequence is as follows:
- Start with some given integer n.
- If it is even, the next number will be n divided by 2.
- If it is odd, multiply it by 3 and add 1 to make the next number.
- The sequence stops when it reaches 1.
According to the Collatz conjecture, it will always reach 1. If that&#39;s true, you
can construct a finite sequence following the aforementioned method for any
given integer.
Write a function that takes in an integer n and returns the highest integer in
the corresponding Collatz sequence.
Examples
max_collatz(10) ➞ 16
# Collatz sequence: 10, 5, 16, 8, 4, 2, 1
max_collatz(32) ➞ 32
# Collatz sequence: 32, 16, 8, 4, 2, 1
max_collatz(85) ➞ 256
# Collatz sequence: 85, 256, 128, 64, 32, 16, 8, 4, 2, 1

In [62]:
def max_collatz(n):
    def collatz(n):
        lst=[n]
        while True:
            if n==1:
                lst.append(1)
                return lst
            elif n%2==0:
                lst.append(n/2)
                n=n/2

            else:
                lst.append((3*n)+1)
                n=(3*n)+1
    
    col=collatz(n)
    return max(col)

In [63]:
max_collatz(10)

16.0

In [64]:
max_collatz(32)

32

In [65]:
max_collatz(85)

256

5. Write a function that sorts a list of integers by their digit length in
descending order, then settles ties by sorting numbers with the same digit
length in ascending order.
Examples
digit_sort([77, 23, 5, 7, 101])
➞ [101, 23, 77, 5, 7]
digit_sort([1, 5, 9, 2, 789, 563, 444])
➞ [444, 563, 789, 1, 2, 5, 9]
digit_sort([53219, 3772, 564, 32, 1])

➞ [53219, 3772, 564, 32, 1]

In [71]:
def digit_sort(l):
    l=sorted(l,reverse = True)
    l = [str(i) for i in l]
    i= len(l)
    for k in range (i-1):
        for j in range(i-k-1):
            if len(l[j])==len(l[j+1]):
                if l[j]>l[j+1]:
                    temp = l[j]
                    l[j] =l[j+1]
                    l[j+1]=temp
    return l

In [73]:
digit_sort([77, 23, 5, 7, 101])

['101', '23', '77', '5', '7']

In [74]:
digit_sort([1, 5, 9, 2, 789, 563, 444])

['444', '563', '789', '1', '2', '5', '9']

In [75]:
digit_sort([53219, 3772, 564, 32, 1])

['53219', '3772', '564', '32', '1']