1. Create a function that takes a list and returns a new list containing only
prime numbers.
Examples
filter_primes([7, 9, 3, 9, 10, 11, 27]) ➞ [7, 3, 11]
filter_primes([10007, 1009, 1007, 27, 147, 77, 1001, 70]) ➞ [10007, 1009]
filter_primes([1009, 10, 10, 10, 3, 33, 9, 4, 1, 61, 63, 69, 1087, 1091, 1093,
1097]) ➞ [1009, 3, 61, 1087, 1091, 1093, 1097]

In [1]:

    
def filter_primes(lst):
    def isPrime(num1): 
        if num1 > 1:
            for i in range(2,num1):
                if (num1%i) == 0:               
                    break
            else:
                return True
        else:
            return False
    new_lst = [i for i in lst if isPrime(i)]
    return new_lst

In [2]:
filter_primes([7, 9, 3, 9, 10, 11, 27])

[7, 3, 11]

In [3]:
filter_primes([10007, 1009, 1007, 27, 147, 77, 1001, 70])

[10007, 1009]

In [4]:
filter_primes([1009, 10, 10, 10, 3, 33, 9, 4, 1, 61, 63, 69, 1087, 1091, 1093,
1097])

[1009, 3, 61, 1087, 1091, 1093, 1097]

2. Once a water balloon pops, is soaks the area around it. The ground gets
drier the further away you travel from the balloon.
The effect of a water balloon popping can be modeled using a list. Create a
function that takes a list which takes the pre-pop state and returns the state
after the balloon is popped. The pre-pop state will contain at most a single
balloon, whose size is represented by the only non-zero element.
Examples
pop([0, 0, 0, 0, 4, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4, 3, 2, 1, 0]
pop([0, 0, 0, 3, 0, 0, 0]) ➞ [0, 1, 2, 3, 2, 1, 0]
pop([0, 0, 2, 0, 0]) ➞ [0, 1, 2, 1, 0]
pop([0]) ➞ [0]

In [29]:
def pop(lst):
    tl=len(lst)
    if tl==1:
        return lst
    else:
        mid=(tl//2)
        
        mid_val=lst[mid]
     
        for i in range(1,mid):

            mid_val+=-1
           
            lst[mid-i]=mid_val
            lst[mid+i]=mid_val
        return lst

In [30]:
pop([0, 0, 0, 0, 4, 0, 0, 0, 0])

[0, 1, 2, 3, 4, 3, 2, 1, 0]

In [31]:
pop([0, 0, 0, 3, 0, 0, 0])

[0, 1, 2, 3, 2, 1, 0]

In [32]:
pop([0, 0, 2, 0, 0])

[0, 1, 2, 1, 0]

In [33]:
pop([0])

[0]

3. 'Loves me, loves me not' is a traditional game in which a person plucks off
all the petals of a flower one by one, saying the phrase 'Loves me' and
'Loves me not' when determining whether the one that they love, loves them
back.
Given a number of petals, return a string which repeats the phrases 'Loves
me' and 'Loves me not' for every alternating petal, and return the last phrase
in all caps. Remember to put a comma and space between phrases.
Examples
loves_me(3) ➞ 'Loves me, Loves me not, LOVES ME'
loves_me(6) ➞ 'Loves me, Loves me not, Loves me, Loves me not, Loves
me, LOVES ME NOT'

loves_me(1) ➞ 'LOVES ME'

In [47]:
def loves_me(a):
    lst=[]
    i=1
    while i<=a:
        if i%2==0:
            if i==a:
                lst.append('LOVES ME NOT')
            else:
                lst.append('Loves me not,')
        else:
            if i==a:
                lst.append('LOVES ME')
            else:
                lst.append('Loves me,')
        i+=1
    for i in lst:
        print(i,end=' ')

In [48]:
loves_me(3)

Loves me, Loves me not, LOVES ME

In [49]:
loves_me(6)

Loves me, Loves me not, Loves me, Loves me not, Loves me, LOVES ME NOT

In [51]:
loves_me(1)

LOVES ME

4. Write a function that sorts each string in a list by the letter in alphabetic
ascending order (a-z).
Examples
sort_by_letter(['932c', '832u32', '2344b'])
➞ ['2344b', '932c', '832u32']
sort_by_letter(['99a', '78b', 'c2345', '11d'])
➞ ['99a', '78b', 'c2345', '11d']
sort_by_letter(['572z', '5y5', '304q2'])
➞ ['304q2', '5y5', '572z']
sort_by_letter([])
➞ []

In [52]:

def sort_by_letter(l):
    def f_l(w):
        for j in w:
            if j.isalpha():
                x=j
        return x


    if len(l)>0:
        m = l[0]
        for i in range(len(l)-1):
            for j in range(i+1,len(l)):
                if ord(f_l(l[i])) > ord(f_l(l[j])):
                    temp = l[i]
                    l[i]=l[j]
                    l[j]=temp
    return l

In [53]:
sort_by_letter(['932c', '832u32', '2344b'])

['2344b', '932c', '832u32']

In [54]:
sort_by_letter(['99a', '78b', 'c2345', '11d'])

['99a', '78b', 'c2345', '11d']

In [55]:
sort_by_letter(['572z', '5y5', '304q2'])

['304q2', '5y5', '572z']

In [56]:
sort_by_letter([])

[]

5. There are three cups on a table, at positions A, B, and C. At the start, there
is a ball hidden under the cup at position B.

However, I perform several swaps on the cups, which is notated as two
letters. For example, if I swap the cups at positions A and B, I could notate
this as AB or BA.
Create a function that returns the letter position that the ball is at, once I finish
swapping the cups. The swaps will be given to you as a list.

Example
cup_swapping(['AB', 'CA', 'AB']) ➞ 'C'
# Ball begins at position B.
# Cups A and B swap, so the ball is at position A.
# Cups C and A swap, so the ball is at position C.
# Cups A and B swap, but the ball is at position C, so it doesn't move.

In [67]:
def cup_swapping(lst):
    B='B'
    for i in lst:
        if B in i:
            B= i.replace(B,"")
    return B

In [70]:
cup_swapping(['AB', 'CB', 'CB'])

'A'

In [71]:
cup_swapping(['AB', 'CA', 'AB'])

'C'