1. Create a function that takes a list and string. The function should remove
the letters in the string from the list, and return the list.
Examples
remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string") ➞ ["w"]
remove_letters(["b", "b", "l", "l", "g", "n", "o", "a", "w"], "balloon") ➞ ["b", "g",
"w"]
remove_letters(["d", "b", "t", "e", "a", "i"], "edabit") ➞ []

In [10]:
def remove_letters(lst,letter):
    new=[]
    for i in letter:
        if i in lst:
            lst.remove(i)
    return lst

In [11]:
remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string")

['w']

In [12]:
remove_letters(["b", "b", "l", "l", "g", "n", "o", "a", "w"], "balloon")

['b', 'g', 'w']

In [13]:
remove_letters(["d", "b", "t", "e", "a", "i"], "edabit")

[]

Create a function that takes a number (step) as an argument and returns the
amount of blocks in that step.
Examples
blocks(1) ➞ 5
blocks(5) ➞ 39
blocks(2) ➞ 12

In [22]:
def blocks(n):
    bl=5
    if n==1:
        return bl
    inc=7
    while n>1:
        n-=1
        bl+=inc
        inc+=1
    return bl

In [23]:
blocks(1)

5

In [24]:
blocks(5)

39

In [27]:
blocks(2)

12

3. Create a function that subtracts one positive integer from another, without
using any arithmetic operators such as -, %, /, +, etc.
Examples
my_sub(5, 9) ➞ 4
my_sub(10, 30) ➞ 20
my_sub(0, 0) ➞ 0

In [28]:
def my_sub(m,n):
    a=[]
    for i in range(m,n):
        a.append(i)
    return len(a)

In [29]:
my_sub(5, 9)

4

In [30]:
my_sub(10, 30)

20

In [31]:
my_sub(0, 0)

0

4. Create a function that takes a string containing money in dollars and
pounds sterling (seperated by comma) and returns the sum of dollar bills only,
as an integer.
For the input string:
- Each amount is prefixed by the currency symbol: $ for dollars and £ for
pounds.
- Thousands are represented by the suffix k.
i.e. $4k = $4,000 and £40k = £40,000
Examples
add_bill("d20,p40,p60,d50") ➞ 20 + 50 = 70
add_bill("p30,d20,p60,d150,p360") ➞ 20 + 150 = 170
add_bill("p30,d2k,p60,d200,p360") ➞ 2 * 1000 + 200 = 2200

In [32]:
def add_bill(amt):
    
    lst=amt.split(',')
    bill=0
    for i in lst:
        if 'd' in i:
            if 'k' in i:
                bill+=int(i[1:-1])*1000
            else:
                bill+=int(i[1:])
    return bill

In [33]:
add_bill("d20,p40,p60,d50")

70

In [34]:
add_bill("p30,d20,p60,d150,p360")

170

In [35]:
add_bill("p30,d2k,p60,d200,p360")

2200

5. Create a function that flips a horizontal list into a vertical list, and a vertical
list into a horizontal list.
In other words, take an 1 x n list (1 row + n columns) and flip it into a n x 1 list
(n rows and 1 column), and vice versa.
Examples
flip_list([1, 2, 3, 4]) ➞ [[1], [2], [3], [4]]
# Take a horizontal list and flip it vertical.
flip_list([[5], [6], [9]]) ➞ [5, 6, 9]
# Take a vertical list and flip it horizontal.
flip_list([]) ➞ []

In [45]:
def flip_list(lst):
    flip=[]
    for i in lst:
        if type(i)==list:
            for j in i:
                flip.append(j)
    else:
        for i in lst:
            if type(i)!=list:
                flip.append([i])
    return flip

In [46]:
flip_list([1, 2, 3, 4])

[[1], [2], [3], [4]]

In [47]:
flip_list([[5], [6], [9]])

[5, 6, 9]

In [48]:
flip_list([])

[]